<!-- Blog Posts Section -->
<section class="container">
    <div class="row">


        <div class="col-md-4">
            <div class="card mb-4">
                <div class="image-container image-split-container">
                    <img src="../../assets/images/image1.jpg" class="card-img-top split-image" alt="Blog Post 1">
                    <div class="overlay">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blog Post 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card mb-4">
                <div class="image-container">
                    <img src="../../assets/images/image2.jpg" class="card-img-top" alt="Blog Post 1">
                    <div class="overlay">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blog Post 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="image-container">
                    <img src="../../assets/images/image3.png" class="card-img-top" alt="Blog Post 1">
                    <div class="overlay">
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blog Post 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>